.d-header #site-logo {
  max-height: 40px;
  max-width: 100%;
}

.d-header {
  height: auto;
}

.d-header .contents {
  margin: 6px 0px;
}

.d-header .title {
  max-width: 149px;
  height: 44px;
}

// Supress topic excerpts for mobile Categories view
.topic-list {
  .topic-excerpt {
    display: none;
  }
}
